<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <filter>
    <filter-name>charsetFilter</filter-name>
    <filter-class>com.cyj.adidas.filter.CharsetFilter</filter-class>
  </filter>
  <filter>
    <filter-name>validateUserFilter</filter-name>
    <filter-class>com.cyj.adidas.filter.ValidateUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>charsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>validateUserFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cyj.adidas.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.cyj.adidas.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.cyj.adidas.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TitleTypeSerlvet</servlet-name>
    <servlet-class>com.cyj.adidas.servlet.TitleTypeSerlvet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.cyj.adidas.servlet.ShoppingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZhuPositionServlet</servlet-name>
    <servlet-class>com.cyj.adidas.servlet.ZhuPositionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.cyj.adidas.servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>com.cyj.adidas.servlet.OrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>com.cyj.adidas.servlet.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TitleTypeSerlvet</servlet-name>
    <url-pattern>/TitleTypeSerlvet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/ShoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhuPositionServlet</servlet-name>
    <url-pattern>/ZhuPositionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/OrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>